body{
    font-family: 'Roboto', 'sans-serif';
    }

h2{
    text-align:center; 
    padding-top: 138px;
    font-size: 44px;
  }
h6{
    text-align:center; 
    }
h5{
    font-weight:bold;
}
h3{
    color: #89bdd3;
    text-align: center;
    font-weight: bold;
}

p{
    font-size:12px;
}
button:focus {
    outline:0;
}
li{
    list-style:none;
    text-align: center;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}

.botonCustom{
   border-radius: 15px;
   justify-content: center;
   background: white; 
}

.botoncustom2{
    background: purple;
    color: white; 
}
/* navbar */
.navbar-toggler:not(:disabled):not(.disabled) {
    border: none;
} 
.navbar-toggler-icon{
    width:1em;
}
.navbar-toggler {
    padding:0.2em;
}
.navbar-dark{
    background: linear-gradient(-45deg, #89bdd3, #9ad3de)!important;
    padding:0.2em;
}
#navbarToggle{
    padding-left:10em;
}
/* .nav-item {
    border-bottom: solid 0.1px;
} */
.nav-item:hover {
   color: #e3e3e3;
}
/* Containers */
.divContaner{
    background-color: #FAFAFA;
    border: 3px solid #fff;
    width:300px;
    padding: 5px;
    margin: 10px;
    border-radius:10px;
}
/* Product Divs Shadow */
.productShadow{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
   }
.customimg{
    width: 100%;
    height:40%;   
}
.color1{
    background-color: #FAFAFA;
    border-bottom: 12px solid #fff;
    }

.pos{
    position:relative;
    }

.pos1{
    position:absolute;
    top: 150px;
    }
.color2{
    width: 50%;     
    }
.color3{
    background-color: #F9F0EB;
    border-bottom: 12px solid #fff;
    }

.color4{
    border-right: 5px solid #fff;
    border-left: 5px solid #fff;
    border-bottom: 5px solid #fff;
    
    
    }
/* footer */

.footerCustom{
    font-size:10px;
    margin:3px;
    margin-left: 10%;
    margin-bottom: 3%;
}

.email{
    width: 50%;
    height: 20%;
    font-size: 0.9em;
    border-radius:10%;
}
.email:hover{
    border: 1px solid #F9F0EB;
}
section{
    border-left: 0.2px solid #d1d3d6;
}

@media only screen and (max-width: 768px){ 
    .nav-item {
        border-bottom: solid 0.1px;}
 }